/*Glitch for CODING*/
.glitch1 {
  color: white;
  font-size: 25px;
  position: relative;
  width: 280px;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(20px, 9999px, 75px, 0);
  }
  5% {
    clip: rect(43px, 9999px, 19px, 0);
  }
  10% {
    clip: rect(9px, 9999px, 43px, 0);
  }
  15% {
    clip: rect(69px, 9999px, 62px, 0);
  }
  20% {
    clip: rect(1px, 9999px, 43px, 0);
  }
  25% {
    clip: rect(28px, 9999px, 63px, 0);
  }
  30% {
    clip: rect(95px, 9999px, 7px, 0);
  }
  35% {
    clip: rect(46px, 9999px, 36px, 0);
  }
  40% {
    clip: rect(53px, 9999px, 80px, 0);
  }
  45% {
    clip: rect(77px, 9999px, 18px, 0);
  }
  50% {
    clip: rect(10px, 9999px, 58px, 0);
  }
  55% {
    clip: rect(51px, 9999px, 77px, 0);
  }
  60% {
    clip: rect(69px, 9999px, 78px, 0);
  }
  65% {
    clip: rect(38px, 9999px, 22px, 0);
  }
  70% {
    clip: rect(80px, 9999px, 18px, 0);
  }
  75% {
    clip: rect(14px, 9999px, 88px, 0);
  }
  80% {
    clip: rect(19px, 9999px, 81px, 0);
  }
  85% {
    clip: rect(7px, 9999px, 38px, 0);
  }
  90% {
    clip: rect(78px, 9999px, 99px, 0);
  }
  95% {
    clip: rect(49px, 9999px, 82px, 0);
  }
  100% {
    clip: rect(20px, 9999px, 37px, 0);
  }
}
.glitch1:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(71px, 9999px, 33px, 0);
  }
  5% {
    clip: rect(24px, 9999px, 54px, 0);
  }
  10% {
    clip: rect(98px, 9999px, 55px, 0);
  }
  15% {
    clip: rect(61px, 9999px, 84px, 0);
  }
  20% {
    clip: rect(48px, 9999px, 27px, 0);
  }
  25% {
    clip: rect(56px, 9999px, 97px, 0);
  }
  30% {
    clip: rect(17px, 9999px, 72px, 0);
  }
  35% {
    clip: rect(86px, 9999px, 2px, 0);
  }
  40% {
    clip: rect(33px, 9999px, 17px, 0);
  }
  45% {
    clip: rect(66px, 9999px, 73px, 0);
  }
  50% {
    clip: rect(23px, 9999px, 34px, 0);
  }
  55% {
    clip: rect(5px, 9999px, 86px, 0);
  }
  60% {
    clip: rect(98px, 9999px, 10px, 0);
  }
  65% {
    clip: rect(86px, 9999px, 9px, 0);
  }
  70% {
    clip: rect(97px, 9999px, 26px, 0);
  }
  75% {
    clip: rect(100px, 9999px, 42px, 0);
  }
  80% {
    clip: rect(1px, 9999px, 34px, 0);
  }
  85% {
    clip: rect(49px, 9999px, 6px, 0);
  }
  90% {
    clip: rect(30px, 9999px, 7px, 0);
  }
  95% {
    clip: rect(81px, 9999px, 99px, 0);
  }
  100% {
    clip: rect(67px, 9999px, 44px, 0);
  }
}
.glitch1:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

/*Glitch for WE*/

.glitch2 {
  color: #4d035b;
  font-size: 30px;
  position: relative;
  width: 120px;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(20px, 9999px, 75px, 0);
  }
  5% {
    clip: rect(43px, 9999px, 19px, 0);
  }
  10% {
    clip: rect(9px, 9999px, 43px, 0);
  }
  15% {
    clip: rect(69px, 9999px, 62px, 0);
  }
  20% {
    clip: rect(1px, 9999px, 43px, 0);
  }
  25% {
    clip: rect(28px, 9999px, 63px, 0);
  }
  30% {
    clip: rect(95px, 9999px, 7px, 0);
  }
  35% {
    clip: rect(46px, 9999px, 36px, 0);
  }
  40% {
    clip: rect(53px, 9999px, 80px, 0);
  }
  45% {
    clip: rect(77px, 9999px, 18px, 0);
  }
  50% {
    clip: rect(10px, 9999px, 58px, 0);
  }
  55% {
    clip: rect(51px, 9999px, 77px, 0);
  }
  60% {
    clip: rect(69px, 9999px, 78px, 0);
  }
  65% {
    clip: rect(38px, 9999px, 22px, 0);
  }
  70% {
    clip: rect(80px, 9999px, 18px, 0);
  }
  75% {
    clip: rect(14px, 9999px, 88px, 0);
  }
  80% {
    clip: rect(19px, 9999px, 81px, 0);
  }
  85% {
    clip: rect(7px, 9999px, 38px, 0);
  }
  90% {
    clip: rect(78px, 9999px, 99px, 0);
  }
  95% {
    clip: rect(49px, 9999px, 82px, 0);
  }
  100% {
    clip: rect(20px, 9999px, 37px, 0);
  }
}
.glitch2:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(71px, 9999px, 33px, 0);
  }
  5% {
    clip: rect(24px, 9999px, 54px, 0);
  }
  10% {
    clip: rect(98px, 9999px, 55px, 0);
  }
  15% {
    clip: rect(61px, 9999px, 84px, 0);
  }
  20% {
    clip: rect(48px, 9999px, 27px, 0);
  }
  25% {
    clip: rect(56px, 9999px, 97px, 0);
  }
  30% {
    clip: rect(17px, 9999px, 72px, 0);
  }
  35% {
    clip: rect(86px, 9999px, 2px, 0);
  }
  40% {
    clip: rect(33px, 9999px, 17px, 0);
  }
  45% {
    clip: rect(66px, 9999px, 73px, 0);
  }
  50% {
    clip: rect(23px, 9999px, 34px, 0);
  }
  55% {
    clip: rect(5px, 9999px, 86px, 0);
  }
  60% {
    clip: rect(98px, 9999px, 10px, 0);
  }
  65% {
    clip: rect(86px, 9999px, 9px, 0);
  }
  70% {
    clip: rect(97px, 9999px, 26px, 0);
  }
  75% {
    clip: rect(100px, 9999px, 42px, 0);
  }
  80% {
    clip: rect(1px, 9999px, 34px, 0);
  }
  85% {
    clip: rect(49px, 9999px, 6px, 0);
  }
  90% {
    clip: rect(30px, 9999px, 7px, 0);
  }
  95% {
    clip: rect(81px, 9999px, 99px, 0);
  }
  100% {
    clip: rect(67px, 9999px, 44px, 0);
  }
}
.glitch2:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}