/*****INDEX.HTML******/

/*****CORE******/

*{
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: normal;
	font-family: verdana;
	overflow-x: hidden; 
}
body p {
	font-size: 1.3em;
}
.background {
	display: flex;
	background: #111;
}
.graybg {
	background: #111;
}
.home-line {
	min-height: 40px;
	border-bottom: 1px solid #000;
	animation: home-line-grow 1s ease-in;
}
@keyframes home-line-grow {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
.home-line2 {
	min-height: 1px;
	border-top: 1px solid #333;
	background: #111;
	animation: home-line-grow2 1.5s ease-in;
}
@keyframes home-line-grow2 {
	0% {
		margin-left: 100%; 
	}
	100% {
		margin-left: 0; 
	}
}
.home-line3 {
	position: absolute;
	left: 97%;
	top: 0;
	width: 1px;	
	height: 100%;
	background: #333;
	animation: home-line-grow3 1.5s ease-in;
}
@keyframes home-line-grow3 {
	0% {
		height: 0; 
	}
	100% {
		height: 100%; 
	}
}
/*****NAV******/

.nav {
	width: 35%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	/*justify-content: center; */
	margin-top: 4%;
}
.nav a {
	text-decoration: none;
	font-size: 1.5em;
	font-family: verdana;
	font-weight: bold;
	height: 15%;
	margin: 5px 0;
	background-color: #000;
	line-height: 5em;
	text-align: center;
	transition: 600ms;
	color: #fff;
}
a.active, .nav a:hover {
	background: #fff;
	color: #000;
	width: 100%;
}
.a {
	width: 95%;
}
.b {
	width: 85%;
}
.c {
	width: 80%;
}
.d {
	width: 90%;
}

/*****HOME******/

.content {
	width: 60%;
}
.home {
	width: 100%;
	color: #fff;
	font-family: verdana;
	padding: 5%;
	margin: 15%;
}
.home h3 {
	font-size: 2em;
	padding-top: 3%; 
}
.home p {
	text-transform: uppercase; 
	font-size: 3em;
}

/*****ABOUT******/

.about, .contact-items {
	margin: 10%;
	padding: 5%; 
	color: #fff;
	display:none;
	line-height: 2em;
}
.about p {
	font-size: 1.3em;
}
.fa-angle-down {
	font-size: 1em;
	cursor: pointer;
}
#skills-div {
	display: none;
}
#resume-div a {
	text-decoration: none;
	color: #fff;

}
/*****PROJECTS******/

.gallery {
	color: #fff;
	font-size: 2.5em;
	padding: 10%;
	margin-right: 3%; 
	display:none;
	color: #000;
}
.gallery a {
	text-decoration: none;
	color: #fff;
	line-height: 2em;
}
.gallery-span {
	font-size: .5em;
	transition: 600ms;		
}
.gallery-span1 {
	font-size: .5em;
	color: #f70455;
	transition: 1000ms;
	opacity: 1;
}
.gallery-span2 {
	transition: 1000ms;
	font-size: .5em;
	color: red;
	opacity: 0;
}
.gallery-span3 {
	transition: 1000ms;
	font-size: .5em;
	color: blue;
	opacity: 0;
}
.gallery-span4 {
	transition: 1000ms;
	font-size: .5em;
	color: green;
	opacity: 0;
}
.gallery-span5 {
	transition: 1000ms;
	font-size: .5em;
	color: yellow;
	opacity: 0;
}
.gallery-span6 {
	transition: 1000ms;
	font-size: .5em;
	color: orange;
	opacity: 0;
}
.gallery-span7 {
	transition: 1000ms;
	font-size: .5em;
	color: #f70455;
	opacity: 0;
}
.workUnselected {
	animation: workFade 1s;
	opacity:.1;
}
.workSelected {
	opacity: 1;
}
@keyframes workFade {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.1;
	}
}
/*****CONTACT******/
.contact:before {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: -1;
}
.contact-items p {
	font-size: 1.3em;
}
.social-media-ul {
	display: flex;
	text-align: center;
	position: relative;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin-top: 50px;
}
.social-media-ul li {
	margin: 10px;
	list-style: none;
	font-size: 24px;
	transition: .5s;
}
.social-media-ul li a {
	width: 60px;
	padding: 16px 0;
	display: block;
	color: #fff; 
}
.social-media-ul li:nth-child(1) {
	background-color: #000;
}
.social-media-ul li:nth-child(2) {
	background-color: #000;
}
.social-media-ul li:nth-child(3) {
	background-color: #000;
}
.social-media-ul li:hover{
	transform: translateY(-8px);
	box-shadow: 0 10px 10px rgba(0,0,0,.5);
}


/*FOODSNAP PROJECT*/
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width:100vh;    
  height:auto;
  margin-top: 20px;
  position:fixed;
  -webkit-transform-origin: left top;
  -webkit-transform:rotate(-90deg) translateX(-100%);
}
ul.nav2 li {   
  display: flex;
  float:right;
  list-style: none;
  width: 20%;
  margin: 1%;
  color: #fff;
}
.nav2 a {
	text-decoration: none;
	font-size: .8em;
	font-family: verdana;
	font-weight: bold;
	margin: 5px 0;
	line-height: 4em;
	text-align: center;
	transition: 600ms;
	/*color: #000;*/
	width: 100%;
  	color: #fff;
  	background: #000;
}
.nav2 a.active, .nav2 a:hover {
	background: #fff;
	color: #000;
	width: 100%;
}
#technologies {
	margin-top:10px;
	margin-bottom:10px;

}
#technologies li {
	list-style: none;
	/*margin-top: 1%;*/
	font-size: 1.3em;
}
#landing-header {
  z-index: 10;
  position: absolute;
  top:30%;
  width:100%;
  text-align: center;
}
#landing-header h1 {
	/*text-shadow:1px 1px 1px rgba(255,255,255,1);*/
	color: #fff;
	font-weight: 500;
    line-height: 1.1;
    font-size: 36px;
    font-family: sans-serif;
    padding-bottom: 3%;
}
#foodsnap-container {
	position:relative;
	width:50%;
	min-height:350px;
}
#landing-header button {
	background: #5cb85c;
	color: #fff;
	border-color: #4cae4c;
	font-weight: 400;
	text-align: center;
    white-space: nowrap;
    vertical-align: middle;
	border: 1px solid transparent;
	padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.slideshow { 
  position: relative;
  width: 100%;
  height: 100%;
  min-height:350px;
  z-index: 5;
  list-style: none;
  padding: 0;
  border:1px solid #000;
}
.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}
.slideshow li:nth-child(1) { 
  background-image: url(https://images.pexels.com/photos/8717/food-pot-kitchen-cooking.jpg?h=350&auto=compress&cs=tinysrgb) 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://images.pexels.com/photos/236781/pexels-photo-236781.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb);
  animation-delay: 5s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://images.pexels.com/photos/539451/pexels-photo-539451.jpeg?h=350&auto=compress&cs=tinysrgb);
  animation-delay: 10s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://images.pexels.com/photos/262918/pexels-photo-262918.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb);
  animation-delay: 20s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb);
  animation-delay: 30s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

.go-back-icon {
	font-size: 2em;
}
/*NBASTATS PROJECT*/
.nba-body{
	display: flex;
	perspective: 1000px;
	transform-style: preserve-3d;
	height: 100vh;
}
.nba-background {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
}
.nba-container {
	display: flex;
	flex-direction: column;	
	justify-content: center;
	align-items: center;
	margin: 5%;
}
.card{
	pointer-events: none;
	transform: translateZ(0);
	background: url("../images/curry-shot.jpeg");
	border-radius: 5px;
	width: 640px;
	height: 360px;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	display: flex;
	box-shadow: 0 0 5px rgba(0,0,0,.1);
	position: relative;
	justify-content: center;
	align-self: center;
	color: orange;

	&:after{
		content:" ";
		position: absolute;
		width: 100%;
		height: 10px;
		border-radius: 50%;
		left:0;
		bottom:-50px;
		box-shadow: 0 30px 20px rgba(0,0,0,.3);
	}
	.card-content{
		margin: auto;
		text-align:center;
		transform-style: preserve-3d;
	}
	h1{
		transform: translateZ(100px);
	}
	p{
		transform: translateZ(50px);
		display: block;
		color: orange;
		&.related{
			transform: translateZ(80px);
			font-style: italic;
		}
	}
	a{
		color:#69c6b8;
		pointer-events: auto;
	}
}


/*BCF PROJECT*/
  .fullscreen-video-wrap{
	/*position:absolute;*/
	/*top:20%;
	left:20%;*/
	display: flex;
	justify-content: center;
	align-self: center;
} 
.fullscreen-video-wrap video{
	height:60%;
	width:60%;
}


/*NEWS SCRAPER*/


/*GRUBWORLD PROJECT*/
.grubworld-ul {
	position: absolute;
	/*top: 50%;*/
	/*left: 50%;*/
	/*transform: translate(-50%, -50%);*/
	/*margin: 0;*/
	/*padding: 0;*/
	/*width: 600px;*/
	height: 150px;
	position:relative;
	width:50%;
	margin-top: 10%;
	margin-bottom: 10%;
	/*min-height:350px;*/
}
.grubworld-ul li {
	list-style: none;
	position: absolute;
	width: 200px;
	height: 200px;
	background: #000;
	margin: -100px;
	transform: rotate(45deg);
	transition: .5s;
	overflow: hidden;
	opacity: .7;
}
.grubworld-ul li:hover {
	opacity: 1;
}
.grubworld-ul li.item1 {
	top: 0;
	left: 0;	
}
.grubworld-ul li.item2 {
	bottom: 0;
	left: 25%;	
}
.grubworld-ul li.item3 {
	top: 0;
	left: 50%;	
}
.grubworld-ul li.item4 {
	bottom: 0;
	left: 75%;	
}
.grubworld-ul li.item5 {
	top: 0;
	left: 100%;	
}
.grubworld-ul li.bg {
	width: 100%;
	height: 100%;
	transform: rotate(-45deg) scale(1.42);
}
.grubworld-ul li.item1 .bg {
	background: url("../images/item-1.jpg");
	background-size: cover; 
	height: 100%;
}
.grubworld-ul li.item2 .bg {
	background: url("../images/item-2.jpg");
	background-size: cover; 
	height: 100%;
}
.grubworld-ul li.item3 .bg {
	background: url("../images/item-3.jpg");
	height: 100%;
	background-size: cover; 
}
.grubworld-ul li.item4 .bg {
	background: url("../images/item-4.jpg");
	height: 100%;
	background-size: cover; 
}
.grubworld-ul li.item5 .bg {
	background: url("../images/item-5.jpg");
	height: 100%;
	background-size: cover; 
}


/*MOVIE GIF PROJECT*/
.gif-home-line {
	min-height: 40px;
	border-bottom: 1px solid #000;
	animation: home-line-grow 1.5s ease-in;
}
.gif-home-line3 {
	position: absolute;
	left: 97%;
	top: 0;
	width: 1px;	
	height: 100%;
	background: #000;
	animation: home-line-grow3 1.5s ease-in;
}
.background1 {
	display: flex;
	flex-direction: column;
}

.fold-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 5%;
}
#fold-div-ul {
	width: 640px;
	height: 360px;
	display: flex;
	justify-content: center;
	align-self: center;
}
#fold-div-ul li {
	list-style: none;
	width: 25%;
	background: url("../images/gif.png");
	background-size: cover;
	height: 100%;
	transition: .5s;
	display: flex;
}
#fold-div-ul:hover li:nth-child(odd){
	transform: skewY(15deg);
	box-shadow: inset 20px 0 50px rgba(0,0,0,.5);
}
#fold-div-ul:hover li:nth-child(even){
	transform: skewY(-15deg);
	box-shadow: inset 20px 0 50px rgba(0,0,0,.5);
}
#fold-div-ul li:nth-child(1){
	background-position: 0; 
}
#fold-div-ul li:nth-child(2){
	background-position: -160px; 
}
#fold-div-ul li:nth-child(3){
	background-position: calc(-160px * 2); 
}
#fold-div-ul li:nth-child(4){
	background-position: calc(-160px * 3); 
}
.fold-div-content {
	width: 60%;
	padding: 3%;
	margin: 3%;
	position:relative;
	z-index:25;
	font-size: 1em;
}

/* MEDIA QUEIRIES */
@media screen and (max-width: 500px) {
	ul.nav2 li {   
		width: 10%;
	}	
}

@media screen and (min-width: 501px) and (max-width: 1024px) {
	.nav a {
		height: auto;
	}		
	ul.nav2 li {   
		width: 15%;
	}	
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
	.nav a {
		height: auto;
	}
}